html{
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Imperial Script,
;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
